@font-face {
    font-family: rainyhearts;
    src: url('rainyhearts.ttf');
}


body {
    font-family: rainyhearts;
    font-size: 25px;
    color: rgb(0, 1, 53);
    margin-left: auto;
    margin-right: auto;
}

main {
    text-shadow: -1px -1px 0 rgb(106, 188, 255), 1px -1px 0 rgb(106, 188, 255), -1px 1px 0 rgb(106, 188, 255), 1px 1px 0 rgb(106, 188, 255);
    background-color:rgb(106, 188, 255);
}

footer {
    color: rgb(31, 6, 0);
    background-color: rgb(255, 220, 177);
}

li {
    text-align: left;
    font-family: rainyhearts;
    src: url('rainyhearts.ttf');
}

p {
    line-height: normal;
}

.margin_div {
    margin-left: 20%;
    margin-right: 20%;
}

.content_grid {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.center_header {
    text-align: center;
    background-color: rgb(45, 73, 226);
    font-size: 40px;
    padding: 10px;
}

.other_header {
    width: fit-content;
    background-color: rgb(45, 73, 226);
    padding: 0px 5px;
}

.right {
    float: right;
}

.skip {
    background-color: white;
    position: absolute;
    transform: translateY(-200%);
}

.skip:focus {
    transform: translateY(0%);
}

.navigation {
    width: fit-content;
    background-color: white;
    margin: 20px 0px;
    padding: 30px;
    border: 2px solid rgb(45, 73, 226);
    border-radius: 10px;
}

.punchy {
    display: grid;
    grid-template-areas: 
        'portrait'
        'dialogue'
        'talk';
    align-items: center;
}

#portrait {grid-area: portrait;}
#talk {
    grid-area: talk;
}

#talk > button {
    font-family: rainyhearts;
    border: 2px outset rgb(45, 73, 226);
    font-size: 30px;
    margin: 10% 10%;
    border-radius: 5px;
}

.punchy > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_image {
    width: 30vw;
}

#dialogue {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 1, 53);
    text-shadow: none;
    padding: 1rem;
    background-color: rgb(191, 226, 255);
    background-image: url(lines\ background\ repeat.gif);
    background-size: 40%;
    border: 5px outset rgb(45, 73, 226);
    border-radius: 40px;
    min-height: 5rem;
    height: fit-content;
    grid-area: dialogue;
}

@media screen and (min-width: 772px) {
    .punchy {
        grid-template-areas: 
        'portrait dialogue'
        'portrait talk';
        grid-template-columns: 50% 50%;
    }

    .margin_div {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 992px) {
    .punchy {
        grid-template-areas: 
        'portrait dialogue'
        'portrait talk';
        grid-template-columns: 50% 50%;
    }

    .margin_div {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: rgb(255, 238, 226);
    }
    
    main {
        text-shadow: -1px -1px 0 rgb(53, 0, 26), 1px -1px 0 rgb(53, 0, 26), -1px 1px 0 rgb(53, 0, 26), 1px 1px 0 rgb(53, 0, 26);
        background-color:rgb(53, 0, 26);
    }

    .navigation {
        background-color: rgb(158, 21, 101);
        border: 2px solid rgb(255, 238, 226);
        border-radius: 10px;
    }

    .center_header {
        background-color: rgb(158, 21, 101);
    }
    
    .other_header {
        background-color: rgb(158, 21, 101);
    }
    footer {
        color: rgb(255, 220, 177);
        background-color: rgb(31, 6, 0);
    }
}