@font-face {
    font-family: rainyhearts;
    src: url('rainyhearts.ttf');
}

body {
    font-family: rainyhearts;
    font-size: 25px;
    color: rgb(53, 0, 26);
    margin-left: auto;
    margin-right: auto;
}

main {
    text-shadow: -1px -1px 0 rgb(255, 238, 226), 1px -1px 0 rgb(255, 238, 226), -1px 1px 0 rgb(255, 238, 226), 1px 1px 0 rgb(255, 238, 226);
    background-image: url(bob%20dance.gif);
    background-size: 30%;
    background-color:rgb(255, 238, 226);
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    color: rgb(31, 6, 0);
    background-color: rgb(255, 220, 177);
}

li {
    text-align: left;
    font-family: rainyhearts;
    src: url('rainyhearts.ttf');
}

p {
    line-height: normal;
}

.center_header {
    text-align: center;
    background-color: rgb(255, 191, 228);
    font-size: 40px;
    padding: 10px;
}

.other_header {
    width: fit-content;
    background-color: rgb(255, 191, 228);
    padding: 0px 5px;
}

.right {
    float: right;
}

.skip {
    background-color: white;
    position: absolute;
    transform: translateY(-200%);
}

.skip:focus {
    transform: translateY(0%);
}

.navigation {
    width: fit-content;
    background-color: white;
    margin: 20px 0px;
    padding: 30px;
    border: 2px solid rgb(255, 191, 228);
    border-radius: 10px;
}